.volt-configuration {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  font-size: 14px;
  color: #000000;

  .prestashop-switch label {
	text-transform: none;
  }

}

.volt-configuration p {
  font-size: 13px;
}

.volt-configuration .control-label {
  color: #000000 !important;
}


.translatable-field {
  width: 100%;
}

.btn-primary {
  padding: .375rem .838rem !important;
  font-size: .875rem !important;
  text-transform: none !important;
  border-radius: 1px !important;
  font-weight: 600 !important;
  background: #25b9d7 !important;
  line-height: 1.5 !important;
}

.panel-footer {
  background-color: #ffffff;
}

.panel {
  padding-bottom: 10px;
}


.form-group {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.bootstrap .form-horizontal .control-label {
  text-align: left !important;
}

@media only screen and (min-width: 992px) {
  .form-group {
	justify-content: center;
  }

  .bootstrap .form-horizontal .control-label {
	text-align: right !important;
  }
}


.panel-footer {
  margin: 30px -20px -20px !important;
}

.bootstrap .table {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


.btn-info {
  background: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
}


a, a:active, a:focus {
  outline: 0 !important;
}


.bootstrap .nav-pills > li > a {
  border-radius: 0px !important;
}

.bootstrap > .row > .col-lg-12 {
  display: table;
}

.help-text a {
  cursor: pointer;
}

body.mobile #content.bootstrap {
  margin-left: 0 !important;
  padding-left: 0 !important;
}


.volt-switcher {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-top: 3px;
  font-size: .813rem;
  background-color: #eff1f2;
  border-radius: 1px;
  text-align: center;

  input:last-of-type:checked ~ .slide-button {
	background-color: #c05c67;
	left: 50%;
  }

  input {
	position: absolute;
	opacity: 0;
  }

  input:checked + label {
	color: #fff;
  }

  label {
	position: relative;
	z-index: 2;
	float: left;
	width: 50%;
	height: 100%;
	padding: .231em .769em;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: #bbcdd2;
	font-weight: 400;
	cursor: pointer;
	transition: color .2s ease-out;
  }

  .slide-button {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	z-index: 1;
	width: 50%;
	height: 100%;
	//color: #fff;
	transition: all .3s ease-out;
	background-color: #2eacce;
  }

  &--choose {

	.slide-button {
	  position: absolute;
	  top: 0;
	  left: 0;
	  padding: 0;
	  z-index: 1;
	  width: 50%;
	  height: 100%;
	  color: #fff;
	  transition: all .3s ease-out;
	  background: transparent;
	}

	input:checked ~ .slide-button {
	  background-color: #2eacce;
	}

	input:last-of-type:checked ~ .slide-button {
	  background-color: #2eacce;
	  left: 50%;
	}


  }

}


.bootstrap .nav-pills {
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
}

.bootstrap .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bootstrap .nav-pills .nav-link {
  border-radius: 0;
  color: #6c868e;
  display: block;
  padding: .9375rem 1.25rem;
}

.page-head-tabs {
  background-color: #ffffff;
}

.bootstrap {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}


.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

body {
  background: #ffffff;
}

//#main {
//  background: #fcfcff;
//}

#content.bootstrap {
  padding-top: 0;
  padding-right: 0;
  padding-left: 223px;

  .row {
	margin: 0;

	.col-lg-12 {
	  padding: 0;
	}

  }

}

body {
  background: #fcfcff !important;
}

.volt-header {
  background-color: #20252b;
  box-shadow: rgba(112, 144, 176, 0.12) 0px 1px 1px, rgba(112, 144, 176, 0.05) 0px 4px 8px;
  height: 110px;
  position: relative;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  display: flex;
  align-items: center;

  svg {
	fill: #ffffff;
	height: auto;
	max-width: 65px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
  }

  .volt-menu {

	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 5rem;

	font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


	li {
	  margin-left: 2rem;


	  a {
		color: #d2d3d5;
		font-size: 0.97rem;
		font-weight: 400;
		padding: 10px 25px;
		border-radius: 10px;
		text-decoration: none;
		border-radius: 0;

		&:hover, &:focus {
		  text-decoration: none;
		}

		&.active {
		  color: #ffffff;
		  box-shadow: inset 2px 0 0 #1A63AB;
		  background: #32363c;
		}

	  }

	}

  }

}


.header-section {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}


.bootstrap .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

#fieldset_3_3 {
  input {
	max-width: 240px;
  }
}



